*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'lato'm, 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

header {
	background-image: url(../img/backGImg.jpg);
	background-size: cover;
	background-position: center;
    height: 100vh;


}

