/*
Orange color #f0932b
 */
/*-----------------------*/
/*------Basic Setup------*/
/*-----------------------*/
*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/*width: 100%;
	margin: auto;*/
	font-family: 'lato'm, 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.clr{clear: both;}

/*-----------------------*/
/*------Reusable Code----*/
/*-----------------------*/
.container{
	width: 80%;
	padding: 10px;
	margin: auto;
	overflow: hidden;
}



/*-----------------------*/
/*--------Header---------*/
/*-----------------------*/
header {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/backGImg.jpg);
	background-size: cover;
	background-position: center;
    height: 100vh;


}

.team-profile{
	padding-top: 100px;
	text-align: center;
	color: #fff;
	/*position: absolute;
	  top: 40%;
	  left: 10%;*/
	/*transform: translate(-10%, 60%);*/
}

.logo {
	margin-left: 20px;
	float: left;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 60px;
}

.main-nav li {
	display: inline-block;
	margin-right: 20px;

}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #f0932b;
}

/*-----------------------*/
/*--------Heading---------*/
/*-----------------------*/
h1 {
	padding-bottom: 10px;
	color: #fff;
	font-size: 200%;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 3px;
}



/*-----------------------*/
/*--------Buttons---------*/
/*-----------------------*/
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	margin-bottom: 10px;
	font-weight: 300;
	text-decoration: none;
	background-color: #f0932b;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s;
}

.btn:hover,
.btn:active{
	background-color: #e98310;
}

/*-----------------------*/
/*--------Body---------*/
/*-----------------------*/
p{
	padding: 10px 0;
}
.per-info{
	padding: 20px 20px 0 20px;
}



.first-row {
	padding: 20px;
	width: 50%;
	float: left;
	
}
.second-row {
	padding: 20px;
	width: 50%;
	float: left;
	
}

.prof-art h4 {
	padding-bottom: 10px;
	font-weight: 300;
}

.prof-art h3 {
	padding-top: 10px;
	font-weight: 300;
}

.per-info h2 {
	font-size: 180%;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid #f0932b;
	

}

#img-align img {
	padding: 20px;
}

.per-profile {
	
	background-color: #edeeee;
}

.link_body a:link,
.link_body a:visited  {
	padding: 8px 0;
	color: #f0932b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}
.link_body a:hover,
.link_body a:active {
	border-bottom: 2px solid #f0932b;
}

.img-align-tech {
	margin: auto;
	padding: 20px;
	float: left;
}
/*.img-align-tech a:link,
.img-align-tech a:visited  {
	padding: 8px 0;
	color: #f0932b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}
.img-align-tech a:hover,
.img-align-tech a:active {
	border-bottom: 2px solid #f0932b;
}*/
/*test code */

.cyber_security_img {
	float: left;
    background-image: url(../img/cyber_security.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.cyber_security_img:hover {
    background-size: 300px;
    border-bottom: 2px solid #f0932b;
}

.block_chain_img {
	float: left;
    background-image: url(../img/block_chain.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.block_chain_img:hover {
    background-size: 300px;
    border-bottom: 2px solid #f0932b;
}

.machine_learning_img {
	float: left;
    background-image: url(../img/machine_learning.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.machine_learning_img:hover {
    background-size: 300px;
    border-bottom: 2px solid #f0932b;
}

.auto_vehicles_img {
	float: left;
    background-image: url(../img/auto_vehicles.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.auto_vehicles_img:hover {
    background-size: 300px;
    border-bottom: 2px solid #f0932b;
}

.img-link-text h3 {
	margin: 20px;
}

.image_spacing {
	float: left;
	width: 25%;
	padding-left: 20px;
}









